#master-container {
    padding-top: 30px;
}  

.filter-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px 10px;
  margin-left: 15px;
}

input[type=text]{
  min-height: 40px;
  padding: 10px;
  border: #b7cfe4 solid 1px;
  border-radius: 5px;
  font-size: 20px;    
}
select {
  min-height: 47px;
  border-radius: 5px;
  border: 1px solid #b7cfe4;
  font-size: 20px;
  padding: 5px;
  margin-right: 20px;    
}
label {
  font-size: 20px;
  display: inline-block;
  margin-right: 15px;    
}

table {
  margin-top: 30px;    
}

table th {
  cursor: pointer;
}

a {
  cursor: pointer;
} 
a.disabled {
  pointer-events: none; 
} 
a.active-pagination {
  background: #cce3f7 !important;  
}

.no-results {
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
}    
